.list-group-item {
  width: 210px;
  height: 210px;
  margin: 10px;
  display: inline-block;
  border-radius: 15px;
}

h1, h3, h5 {
  text-align: center;
}

h3 {
  font-size: 15px;
  height: 70px;
}

h5 {
  font-size: 12px;
  font-weight: normal;
}

strong {
  font-size: 18px;
}

.post-preview {
  width: 180px;
  height: 140px;
}

.create-post-btn {
  margin-right: 50px;
}

.clearfix {
  margin: 10px 0 10px 0;
}

.container {
  max-width: 800px;
}

.list-group {
  padding-left: 5%;
}

.create-new-post {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 20px 0 20px 0;
}